# Node modules
node_modules/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dist / Build output
dist/
build/

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# IDE/editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Local env files
.env.local
.env.*.local

# MacOS system files
.DS_Store

# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# rsbuild output (根据你rsbuild配置调整)
.rsbuild_cache/

# Optional coverage folder
coverage/

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# npm-debug logs
npm-debug.log*

# Others
*.pem
auto-imports.d.ts
components.d.ts
